# Включваме rewrite модул
RewriteEngine On

# Assets (CSS, JS, изображения)
RewriteRule ^assets/(.*)$ public/assets/$1 [L]

# Ако файлът/директорията не съществува
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Всички останали заявки да отиват към index.php
RewriteRule ^(.*)$ index.php [QSA,L]