@import "tailwindcss";

@theme {
    --color-primary-dark: #0b2935;
    --color-primary-darken: #0e3545;
    --color-primary-light: #e3e295;
    --color-primary-blue: #8fd5e7;
    
    --breakpoint-xs: 480px;
}

@layer components {
    .btn-primary {
        @apply inline-flex items-center gap-2 bg-primary-darken hover:bg-primary-dark text-white px-6 py-3 rounded-lg transition-all font-bold uppercase text-sm cursor-pointer;
    }
}

.image-fallback {
    object-fit: contain !important;
    background-color: #f3f4f6;
    opacity: 0.8;
}

.ql-toolbar.ql-snow {
    border: none !important;
    border-bottom: 1px solid #e5e7eb !important;
    background: #f9fafb;
}

.ql-container.ql-snow {
    border: none !important;
    font-size: 14px;
}

.form-control {
    @apply w-full px-4 py-2.5 rounded-xl border border-gray-200 focus:ring-2 focus:ring-primary-dark/20 outline-none transition;
}

.custom-scrollbar {
    scrollbar-width: auto;
    scrollbar-color: #4b5563 var(--color-primary-dark);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--color-primary-dark);
    border-radius: 16px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 16px;
    border: 4px solid var(--color-primary-dark);
    background-clip: content-box;
    transition: background-color 0.3s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #374151;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #1f2937;
}

/* Fancy Gallery */

.fancybox__container:has(.fancybox__thumbs.is-scrollable) {
    flex-direction: row;
}

.fancybox__thumbs.is-scrollable {
    --f-thumbs-cols: 1;
    --f-thumbs-gap: 4px;
    --f-thumbs-bg: #ddd;

    --f-thumbs-padding-x: 2px;
    --f-thumbs-padding-y: 2px;
    --f-thumbs-viewport-padding-x: 2px;
    --f-thumbs-viewport-padding-y: 2px;

    --f-thumb-width: 100px;
    --f-thumb-height: 75px;
    --f-thumb-bg: rgba(0, 0, 0, 0.1);
    --f-thumb-focus-shadow: inset 0 0 0 5px rgba(255, 82, 104, 0.5);
    --f-thumb-selected-shadow: inset 0 0 0 5px rgb(255, 82, 104);
    --f-thumb-border-radius: 0;

    --f-scrollbar-track-bg: #fff;
    --f-scrollbar-thumb-bg: #2a2a2a;
}

@media (min-width: 576px) {
    .fancybox__thumbs.is-scrollable {
        --f-thumbs-cols: 2;
    }
}
